@function rem($pixel) {
    @return $pixel / 16+rem;
}


#cursor{
    height: rem(20);
    position: fixed;
    width: rem(20);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    pointer-events: none;
    backface-visibility: hidden;
    z-index: 90;
    &:before{
        background-color: #000;
        border-radius: 50%;
        height: 100%;
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        mix-blend-mode: difference;
        .is-hover{
            transform: scale(2.5);
        }


    }
}

